.dots {
  display: flex;
  gap: 1.75rem;
  padding-left: 1.5rem;
  margin-left: 1rem;
  margin-right: 2rem;
}

.dots.left {
  justify-content: flex-start;
}

.dots.right {
  justify-content: flex-end;
}

.dot {
  height: 22px;
  width: 22px;
  border-radius: 9999px;
  background-color: #71d0f9; /* sky-400 */
  opacity: 0.2;
  animation: blink 1.8s infinite;
}

@keyframes blink {
  0% { opacity: 0.2; }
  20% { opacity: 1; }
  40% { opacity: 0.2; }
  100% { opacity: 0.2; }
}
