@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Michroma&family=Nunito:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -8.5rem;
}

.middle p {
  font-size: 4.5rem;
  font-weight: 1000;
  color: white;
  font-display: swap;
  text-shadow: 
    0 0 7px rgb(38, 185, 243),   /* cyan glow */
    0 0 11px rgb(66, 177, 232); /* brighter cyan glow */
    -webkit-text-stroke: 4.2px #001f4d;
    font-family: "Poppins", sans-serif;
  font-style: normal;
} 




.gcloud-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #fbbf24; /* yellow-500 */
  color: white;
  padding: 1.5rem 2.5rem;
  border-radius: 0.75rem;
  font-size: 2.5rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  font-family: "Michroma", sans-serif;
}

.gcloud-box img {
  height: 3rem;
}


