.badges-container {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  gap: 3.5rem;
}

.badge {
  background: white;
  padding: 0.8rem 1.5rem;
  margin: 0 0.5rem;
  border-radius: 30px;
  font-weight: bold;
  color: black;
  transition: 0.3s ease;
  gap: 3rem;
}

.badge.active {
  background: yellow;
}
